* {
    box-sizing: border-box;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}
p, div, {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}
.div-header {
    width: 100%;
    margin: auto 0;
    background-color: #ffffff;
}
#jake-carlson {
    margin-top: 0%;
    color: #ffffff;
    background-color: #4aaaa5;
    padding: 5%;
}
.sub-div-header {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

.my-name {
    width: 33%;
    /*
    if these 3 class' and clear fix are in action for floats and margins, it eliminates the background between header and content.
    Would i be able to put all of this in place for classes, and for h1 "Jake Carlson" put in bottom margin to make that space appear???*/ 
    
    /*float: left;
    margin-left: auto;
    margin-right: auto;*/
}

.blank-space {
    width: 33%;
    /*float: left;
    margin-left: auto;
    margin-right: auto;*/
}

.links {
    width: 33%;
    /*float: left;
    margin-left: auto;
    margin-right: auto;*/
}

/*.clearfix {
    overflow: auto;
}*/

body {
    /*width: 960px;*/
    background-image: url(../images/interlaced.png);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    /* ---- get rid of everything in top 4 rows if they want project like the images with background all around whole page, 
    but its unlikely, the images dont show real background
    
    margin-top: 0px;
    margin-bottom: 0px;*/

    /*the two below make white header go all the way across the screen, no background green is shown....
    margin-left: auto;
    margin-right: auto;*/
}

.content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;}

header {
    /*background-color: aqua; */
    /*width: 100%;*/
    /*margin: auto 0;*/

}
/*.div-header {
    width: 100%;
    margin: auto 0;
    background-color: #ffffff;
}*/

hr {
    width: 95%;
}

ul {
    list-style-type: none;
}

#sub-content {
    width: 95%;
    margin: 0 auto;
}

#about {
    color: #4aaaa5;
    /* margin-left: 30px; */
    padding-top: 2%;
    width: 95%;
    margin: 0 auto;
    float: left;
    padding-left: 3%;
    padding-bottom: 2%;
}

#portfolio {
    color: #4aaaa5;
    /* margin-left: 30px; */
    padding-top: 2%;
    width: 95%;
    margin: 0 auto;
    float: left;
    padding-left: 3%;
    padding-bottom: 2%;
}

#contact {
    color: #4aaaa5;
    /* margin-left: 30px; */
    padding-top: 2%;
    width: 95%;
    margin: 0 auto;
    float: left;
    padding-left: 3%;
    padding-bottom: 2%;
}

#bio-pic {
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
}

.clearfix {
    overflow: auto;
}

#paragraphs {
    line-height: 20px;
}

div {
    background-color: #ffffff;
}

.portfolio {
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #666666;
    color: white;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    padding-top: 2%;
    /*
    border-top-style: solid;
    border-top-color: #4aaaa5;
    border-top-width: 10px;
    padding-top: 2%;*/
}

input [type=text], select, textarea {
    width: 90%; /*originally 100%, but needs to have padding on sides???*/
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    /* i added margin right and left to try to center???*/
    margin-right: auto;
    margin-left: auto;
}
input [type=submit] {
    background-color: #4aaaa5;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
}
input [type=submit]:hover {
    background-color: #666666;
}
.container {
    background-color: #ffffff;
    padding: 20px;
    width: 90%;
}
label {
    font-size: 20px;
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}