* {
    box-sizing: border-box;
}

body {
    width: 960px;
    background-image: url(../images/green-fibers.png);
    margin-left: auto;
    margin-right: auto;
}
header {
    background-color: aqua;

}

hr {
    margin: 20px;
}
#about {
    color:#4aaaa5;
    margin-left: 30px;
    padding-top: 20px;
}

#bio-pic {
    float: left;
    padding: 20px;
}

.clearfix {
    overflow: auto;
}

.paragraphs {
    margin-left: 30px;
    padding: 20px;
}

div {
    background-color: #ffffff;
}