* {
    box-sizing: border-box;
}
.div-header {
    width: 100%;
    margin: auto 0;
    background-color: #ffffff;
}
.jake-carlson {
    margin-top: 0%;
}
.sub-div-header {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
}

body {
    /*width: 960px;*/
    background-image: url(../images/green-fibers.png);
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: auto;
    /* ---- get rid of everything in top 4 rows if they want project like the images with background all around whole page, 
    but its unlikely, the images dont show real background
    
    margin-top: 0px;
    margin-bottom: 0px;*/

    /*the two below make white header go all the way across the screen, no background green is shown....
    margin-left: auto;
    margin-right: auto;*/
}

.content {
    width: 960px;
    margin-left: auto;
    margin-right: auto;}

header {
    /*background-color: aqua; */
    /*width: 100%;*/
    /*margin: auto 0;*/

}
/*.div-header {
    width: 100%;
    margin: auto 0;
    background-color: #ffffff;
}*/

hr {
    width: 95%;
}

ul {
    list-style-type: none;
}

#sub-content {
    width: 95%;
    margin: 0 auto;
}

#about {
    color: #4aaaa5;
    /* margin-left: 30px; */
    padding-top: 2%;
    width: 95%;
    margin: 0 auto;

}

#bio-pic {
    float: left;
    margin-right: 3%;
    margin-bottom: 3%;
}

.clearfix {
    overflow: auto;
}

#paragraphs {
}

div {
    background-color: #ffffff;
}

.portfolio {
    border-left: solid 1px #000000;
    border-right: solid 1px #000000;
}